#id_title { font-size:1.3em; font-weight:bold; }
label[for=id_content] { display:none; }
#id_content {
    font-family: monospace;
    width: 52%;
    min-height: 500px;
    background: -webkit-linear-gradient(#fff, #eee);
    font-size:1.3em;
    float:left;
}

#preview_container {
    width:45%; height:500px; float:left;
    margin:0 0 0 1em;
    position:relative;
}
#live_preview {
    width:200%; height:1000px;
    border:1px solid #aaa;
    box-shadow:0px 12px 21px #ccc;

    -webkit-transform:scale(0.5);
    -webkit-transform-origin:top left;
    -moz-transform:scale(0.5);
    -moz-transform-origin:top left;
    -o-transform:scale(0.5);
    -o-transform-origin:top left;
    -ms-transform:scale(0.5);
    -ms-transform-origin:top left;
    transform:scale(0.5);
    transform-origin:top left;
}
